{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if parameters %}
    <div class="table-striped">
        <table class="table">

            <tr>
                <th>
                    Parameters
                </th>
                <th>
                    Start value
                </th>
                <th>
                    Ending value
                </th>
                <th>
                    Step size
                </th>
                <th>
                    Submit
                </th>
                <!--<th>-->
                <!--Ending value-->
                <!--</th>-->
                <!--<th>-->
                <!--Steps-->
                <!--</th>-->
                <!--<th>-->
                <!--Confirm-->
                <!--</th>-->
            </tr>
            {% for par in parameters %}
            <tr>
                <td>
                    {{ par }}
                </td>
                <form action="/data" name="form">
                    <input type="hidden" name="parameter" value="{{ par }}">
                    <td>
                        <input type="number" name="start"><br>
                    </td>
                    <td>
                        <input type="number" name="stop"><br>
                    </td>
                    <td>
                        <input type="number" name="step"><br>
                    </td>
                    <td>
                        <input type="submit" value="Submit">
                    </td>
                </form>
                </td>
                <!--<td>-->
                <!--Fill in starting value here-->
                <!--</td>-->
                <!--<td>-->
                <!--Fill in ending value here-->
                <!--</td>-->
                <!--<td>-->
                <!--Default step: 1-->
                <!--</td>-->
                <!--<td>-->
                <!--Confirm-->
                <!--</td>-->
                <!--</tr>-->
                {% endfor %}
            </tr>

        </table>
    </div>
    {% endif %}
    <br>
    {% if sweeps %}
    {% if parameters %}
    <div class="table-striped">
        <table class="table">
            <tr>
                <th>
                    Current Sweep
                </th>
                <th>
                    Start value
                </th>
                <th>
                    Stop value
                </th>
                <th>
                    Step value
                </th>
            </tr>
            {% for sweep in sweeps %}
            <tr>
                <td>
                    {{ parameters[sweep[0]] }}
                </td>
                <td>
                    {{ sweep[1] }}
                </td>
                <td>
                    {{ sweep[2] }}
                </td>
                <td>
                    {{ sweep[3] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col"/>
        <div class="col text-center">
            <!--<button class="btn btn-primary" title="Submit">Execute</button>-->
<!--            <a href="/execute" class="btn btn-info" role="button">Execute</a>-->
            <!--<button type="button" class="btn btn-info">Button</button>-->
            <br><br>
            <form action="/simulate" name="form">
<!--                <td>-->
<!--                    Amount of simulations:-->
<!--                    <input type="number" name="sims"><br>-->
<!--                </td>-->
                <td>
                    Required data:
                    <input type="text" name="query"><br>
                </td>
                <td>
                    <input type="submit" class="btn btn-info" value="Simulate">
                </td>
            </form>
        </div>
        <div class="col"/>
    </div>
    <br><br>
    {% endif %}
    {% endif %}
</div>


{% endblock %}
